.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.board-container{
  margin: 20px;
}

body {
  background-color: #dadada;
  color: #1f2023;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2023;
    color: #dadada;
  }
}

.h5, h5 {
  font-size: 3.25rem;
}

.mt-5{
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
}

.win-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
